
.container{
    display: flex;
}

.centered{
    flex-shrink: 1;
    flex-basis: 1100px;
    margin: auto;
}

button {
    margin: 8px;
    padding: 8px 12px;
    border: none;
    background-color: lightblue;
}

input {
    padding:8px;
    background-color: rgba(0, 0, 0, 0.2);
    border: unset;
    border-bottom: 2px solid black;

}

header{
    background-color: beige;
    padding: 16px;
    object-fit:cover;
}
